.signin-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form {
  width: 25%;
  height: 40%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-image {
  width: 150px;
  height: 75px;
}

.signin-text {
  font-size: 30px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}

.signin-btn {
  width: 75%;
  padding: 7px;
  border: 1px solid #a88734;
  background-color: #f3cd71;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}
.signin-btn:hover {
  background-color: #efbd3e;
}
